.policy {
  padding-top: 62px;
  padding-bottom: 45px;

  &-info {
    max-width: 827px;
    margin-bottom: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-weight: 500;
      font-size: 32px;
      line-height: 1.1;
      margin: 0;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media(max-width: 1259px) {
    padding-top: 21px;
    padding-bottom: 19px;

    &-info {
      margin-bottom: 20px;
      line-height: 1.2;

      &-title {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 14px;
      }
    }
  }

  @media(max-width: 599px) {
    padding-top: 16px;
    padding-bottom: 45px;

    &-info {
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 1.3;

      &-title {
        font-size: 16px;
        line-height: 1.1;
        margin-bottom: 8px;
      }
    }
  }
}